In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import datetime as dt

In [2]:
import sys

sys.path.append("../src")
sys.path.append("../src/tests")

In [3]:
import test_subsampling as test_ss
import activity.subsampling as ss

In [4]:
avail = np.arange(0, 720, 6) + 6
reset_24 = avail[np.where((24*60 % avail) == 0)[0]]
reset_24

array([  6,  12,  18,  24,  30,  36,  48,  60,  72,  90,  96, 120, 144,
       180, 240, 288, 360, 480, 720])

In [5]:
mock_start = dt.datetime(2022, 6, 15, 0, 0, 0)
mock_end = mock_start+dt.timedelta(hours=12)

mock_df = test_ss.create_initial_mock_data_from_ipis(mock_start)
mock_df

,start_time,end_time,low_freq,high_freq,freq_group,call_start_time,call_end_time,ref_time
0,0.000000,0.010000,20000,30000,LF,2022-06-15 00:00:00.000000000,2022-06-15 00:00:00.600000000,2022-06-15 00:00:00
1,0.571651,0.581651,20000,30000,LF,2022-06-15 00:00:34.299086939,2022-06-15 00:00:34.899086939,2022-06-15 00:00:00
2,1.143303,1.153303,20000,30000,LF,2022-06-15 00:01:08.598173878,2022-06-15 00:01:09.198173878,2022-06-15 00:00:00
3,1.714954,1.724954,20000,30000,LF,2022-06-15 00:01:42.897260817,2022-06-15 00:01:43.497260817,2022-06-15 00:00:00
4,2.286606,2.296606,20000,30000,LF,2022-06-15 00:02:17.196347757,2022-06-15 00:02:17.796347757,2022-06-15 00:00:00
...,...,...,...,...,...,...,...,...
2515,1437.703394,1437.713394,20000,30000,LF,2022-06-15 23:57:42.203652242,2022-06-15 23:57:42.803652242,2022-06-15 23:30:00
2516,1438.275046,1438.285046,20000,30000,LF,2022-06-15 23:58:16.502739182,2022-06-15 23:58:17.102739182,2022-06-15 23:30:00
2517,1438.846697,1438.856697,20000,30000,LF,2022-06-15 23:58:50.801826121,2022-06-15 23:58:51.401826121,2022-06-15 23:30:00
2518,1439.418349,1439.428349,20000,30000,LF,2022-06-15 23:59:25.100913060,2022-06-15 23:59:25.700913060,2022-06-15 23:30:00
2519,1439.990000,1440.000000,20000,30000,LF,2022-06-15 23:59:59.400000000,2022-06-16 00:00:00.000000000,2022-06-15 23:30:00

In [6]:
dc_tag = '1of6'
print(dc_tag)
cycle_length = int(dc_tag.split('of')[-1])
time_on = int(dc_tag.split('of')[0])
time_on_in_secs = (60*time_on)
data_params = dict()
data_params['recording_start'] = '00:00'
data_params['recording_end'] = '16:00'

mock_df_subsampled = ss.simulate_dutycycle_on_detections(mock_df.copy(), cycle_length, 
                                                              time_on_in_secs, data_params)
mock_df_subsampled

1of6

,start_time_wrt_ref,end_time_wrt_ref,start_time,end_time,low_freq,high_freq,freq_group,call_start_time,call_end_time,ref_time,cycle_ref_time
0,0.000000,0.600000,0.000000,0.010000,20000,30000,LF,2022-06-15 00:00:00.000000000,2022-06-15 00:00:00.600000000,2022-06-15 00:00:00.000000000,2022-06-15 00:00:00
1,34.299087,34.899087,0.571651,0.581651,20000,30000,LF,2022-06-15 00:00:34.299086939,2022-06-15 00:00:34.899086939,2022-06-15 00:00:34.299086939,2022-06-15 00:00:00
11,17.289956,17.889956,6.288166,6.298166,20000,30000,LF,2022-06-15 00:06:17.289956331,2022-06-15 00:06:17.889956331,2022-06-15 00:06:17.289956331,2022-06-15 00:06:00
12,51.589043,52.189043,6.859817,6.869817,20000,30000,LF,2022-06-15 00:06:51.589043271,2022-06-15 00:06:52.189043271,2022-06-15 00:06:51.589043271,2022-06-15 00:06:00
21,0.280826,0.880826,12.004680,12.014680,20000,30000,LF,2022-06-15 00:12:00.280825724,2022-06-15 00:12:00.880825724,2022-06-15 00:12:00.280825724,2022-06-15 00:12:00
...,...,...,...,...,...,...,...,...,...,...,...
2488,16.128305,16.728305,1422.268805,1422.278805,20000,30000,LF,2022-06-15 23:42:16.128304882,2022-06-15 23:42:16.728304882,2022-06-15 23:42:16.128304882,2022-06-15 23:42:00
2489,50.427392,51.027392,1422.840457,1422.850457,20000,30000,LF,2022-06-15 23:42:50.427391822,2022-06-15 23:42:51.027391822,2022-06-15 23:42:50.427391822,2022-06-15 23:42:00
2499,33.418261,34.018261,1428.556971,1428.566971,20000,30000,LF,2022-06-15 23:48:33.418261214,2022-06-15 23:48:34.018261214,2022-06-15 23:48:33.418261214,2022-06-15 23:48:00
2509,16.409131,17.009131,1434.273486,1434.283486,20000,30000,LF,2022-06-15 23:54:16.409130607,2022-06-15 23:54:17.009130607,2022-06-15 23:54:16.409130607,2022-06-15 23:54:00
2510,50.708218,51.308218,1434.845137,1434.855137,20000,30000,LF,2022-06-15 23:54:50.708217546,2022-06-15 23:54:51.308217546,2022-06-15 23:54:50.708217546,2022-06-15 23:54:00

In [7]:
test_ss.test_if_subsampling_reduces_number_of_calls_by_expected_factor_in_mock_dataset()